* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #444444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 75vh;
}
footer {
    text-align: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    flex: 1;
    margin: 0 10%;
    background-color: #ECDBBA;
    min-height: 70vh;
    min-width: 70vh;
}
.calc-button{
    color: #ECDBBA;
    background-color: #2D4263;
    font-weight: bold;
    font-size: 16px;
}
.result {
    grid-column: 1 / 4;
    text-align: center;
    color: #C84B31;
    background-color: #191919;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-text {
    flex:1;
    font-size: 48px;
}
#add {
    grid-column: 4;
    grid-row: 2;
}
#subtract {
    grid-column: 4;
    grid-row: 3;
}
#divide {
    grid-column: 4;
    grid-row: 4;
}
#multiply {
    grid-column: 4;
    grid-row: 5;
}
#sum {
    grid-column: 3 / 5;
    grid-row: 6;
}
#reset {
    grid-column: 1 / 3;
    grid-row: 6;
}

.operation-btn {
    background-color: #191919;
}
.end-times {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    background-color: #191919;
    font-size: 64px;
    height: 100vh;
    text-align: center;
}