* {
    padding: 0;
    margin: 0;
}
body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
body.dark-theme {
    background-color: #393232;
}
body.light-theme {
    background-color: #444444;
}
header {
    text-align: center;

}
header.dark-theme {
    background-color: #ED8D8D;
    color: #393232;
}
header.light-theme {
    background-color: #C84B31;
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
footer {
    text-align: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "result result result result"
    "reset backspace add subtract"
    "n7 n8 n9 multiply"
    "n4 n5 n6 divide"
    "n1 n2 n3 sum"
    "n0 mode period sum";
    gap: 10px;
    padding: 3%;
    border-radius: 64px;
    width: 500px;
    height: 650px;
}
.calculator.dark-theme {
    background-color: #4D4545;
    border: #191919 solid 8px;
}
.calculator.light-theme {
    background-color: #ECDBBA;
    border: #191919 solid 8px;
}
.calc-button{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.calc-button.dark-theme {
    color: #ECDBBA;
    background-color: #8D6262;
    border-color: #ED8D8D;
}
.calc-button.light-theme {
    color: #ECDBBA;
    background-color: #2D4263;
    border-color: #C84B31;
}
.result {
    grid-area: result;
    text-align: center;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result.dark-theme {
    color: #ED8D8D;
    background-color: #191919;
}
.result.light-theme {
    color: #C84B31;
    background-color: #191919;
}
.result-text {
    flex:1;
    font-size: 48px;
}
.operation-btn.dark-theme {
    background-color: #191919;
}
.operation-btn.light-theme {
    background-color: #191919;
}
.end-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    height: 90vh;
    text-align: center;
}
.end-times.dark-theme {
    color: #ED8D8D;
    background-color: #393232;
}
.end-times.light-theme {
    color: orange;
    background-color: #191919;
}
.hide-me {
    visibility: hidden;
}
.dont-show-me {
    display: none;
}
.restart-cycle {
    padding: 64px 128px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}
.restart-cycle.dark-theme {
    border: 8px solid #ED8D8D;
    background-color: #444444;
    color: #ED8D8D;
}
.restart-cycle.light-theme {
    border: 8px solid orange;
    background-color: #444444;
    color: orange;
}
.restart-cycle.dark-theme:hover {
    background-color: #222222;
    color: palevioletred;
}
.restart-cycle.light-theme:hover {
    background-color: #666666;
    color: #C84B31;
}
#reset {
    grid-area: reset;
}
#mode {
    grid-area: mode;
}
#period {
    grid-area: period;
}
#backspace {
    grid-area: backspace;
}
#n7 {
    grid-area: n7;
}
#n8 {
    grid-area: n8;
}
#n9 {
    grid-area: n9;
}
#add {
    grid-area: add;
}
#n4 {
    grid-area: n4;
}
#n5 {
    grid-area: n5;
}
#n6 {
    grid-area: n6;
}
#subtract {
    grid-area: subtract;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
#n3 {
    grid-area: n3;
}
#multiply {
    grid-area: multiply;
}
#n0 {
    grid-area: n0;
}
#sum {
    grid-area: sum;
}
#divide {
    grid-area: divide;
}
