* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #444444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    background-color: #C84B31;
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
footer {
    text-align: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "result result result result"
    "reset mode period backspace"
    "n7 n8 n9 add"
    "n4 n5 n6 subtract"
    "n1 n2 n3 multiply"
    "n0 sum sum divide";
    gap: 10px;
    margin: 0 10%;
    background-color: #ECDBBA;
    padding: 3%;
    border-radius: 64px;
    border: #191919 solid 8px;
    width: 30%;
    height: 90%;
}
.calc-button{
    color: #ECDBBA;
    background-color: #2D4263;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.result {
    grid-area: result;
    text-align: center;
    color: #C84B31;
    background-color: #191919;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-text {
    flex:1;
    font-size: 48px;
}
#reset {
    grid-area: reset;
}
#mode {
    grid-area: mode;
}
#period {
    grid-area: period;
}
#backspace {
    grid-area: backspace;
}
#n7 {
    grid-area: n7;
}
#n8 {
    grid-area: n8;
}
#n9 {
    grid-area: n9;
}
#add {
    grid-area: add;
}
#n4 {
    grid-area: n4;
}
#n5 {
    grid-area: n5;
}
#n6 {
    grid-area: n6;
}
#subtract {
    grid-area: subtract;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
#n3 {
    grid-area: n3;
}
#multiply {
    grid-area: multiply;
}
#n0 {
    grid-area: n0;
}
#sum {
    grid-area: sum;
}
#divide {
    grid-area: divide;
}
.operation-btn {
    background-color: #191919;
}
.end-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    background-color: #191919;
    font-size: 64px;
    height: 90vh;
    text-align: center;
}
.hide-me {
    visibility: hidden;
}
.dont-show-me {
    display: none;
}
.restart-cycle {
    padding: 64px 128px;
    border: 8px solid orange;
    background-color: #444444;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}
.restart-cycle:hover {
    background-color: #666666;
    color: #C84B31;
}
/* 25 cyfr - 3 = 22 pozycje */